body {
    /* background-color: #bf7255; */
    background-color: aqua;
    margin: 50px;
}

#dragon {
    color: whitesmoke;
    width: 100px;
    height: 200px;
    background: #007fff;
    border: 2px solid #fff;
    transition: height 0.5s ease-in-out, border-width 0.5s ease-in-out;
    overflow: hidden;

    position: absolute;  /* Фиксированное положение */
    bottom: 0;           /* Прижимаем к нижней части экрана */
    left: 50%;           /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Центрирование с учетом ширины контейнера */
}

#dragon:hover {
    height: 20px;  /* Уменьшаем высоту до 20px */
    border-width: 20px;  /* Увеличиваем ширину границы */
}
/* Стили для контейнера золота */
#gold-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

/* Стили для текста "Золото:" */
#gold-text {
    font-size: 24px;
    color: #ffcc00; /* Золотой цвет */
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стили для количества золота */
#gold-amount {
    font-size: 48px;
    color: #ffd700; /* Цвет золота */
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8); /* Эффект свечения */
}